* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color: #ffffff;
  --grey: #7b6d61;
  --main-color: #973734;
  --text-color: #000000;
}
::-webkit-scrollbar {
  width: 0;
}
#scroll-path {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: lightgray;
}
#progress-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 0px;
  background: var(--main-color);
}

html {
  font-size: 60%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 12% 2rem;
  background-color: transparent;
  transition: 0.5s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
.header-logo {
  opacity: 0;
  color: var(--text-color);
  letter-spacing: -2px;
  font-size: 3rem;
  font-weight: 800;
  transition: 0.3s ease;
}
.logo {
  cursor: default;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color);
  font-weight: 800;
  font-size: 135px;
  white-space: nowrap;
  transition: 0.3s ease;
}
.logo-container {
  cursor: default;
  display: block;
  position: relative;
  margin-bottom: 10rem;
  letter-spacing: -9px;
  background: repeating-linear-gradient(
    -60deg,
    transparent,
    transparent 10px,
    pink 10px,
    pink 20px
  );
  transition: 0.3s ease;
  height: 250px;
}
.header-logo:hover {
  transform: scale(1.3);
}
.logo-container:hover .logo {
  transform: translate(-50%, -50%) scale(1.2);
}
.logo-container:hover .home-img {
  transform: translate(-50%, -50%) scale(1.5);
}
.logo-container:hover {
  transform: scale(0.9);
}
.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}

section {
  min-height: 100vh;
  padding: 10rem 12% 0px;
}
.home {
  padding: 20rem 12% 0px;
  display: flex;
  justify-content: center;
}
.home-container {
  width: 1000px;
}
.home-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
span {
  color: var(--main-color);
}
.logo span {
  color: var(--main-color);
}
.home h1 {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1;
}
.home-img {
  transition: 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-img img {
  height: 400px;
  transition: 0.3s ease;
}
.social-icons {
  display: flex;
  gap: 1rem;
}
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  border: 2px solid var(--main-color);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--main-color);
  transition: 0.3s ease-in-out;
}
.social-icons a:hover {
  color: var(--text-color);
  transform: translateY(-5px);
  background-color: var(--main-color);
}
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--main-color);
  border-radius: 3rem;
  font-size: 1.6rem;
  height: 4.5rem;
  color: black;
  border: 2px solid var(--main-color);
  align-items: center;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-5px);
  background: var(--bg-color);
}
.btn-container {
  display: inline-flex;
  gap: 3rem;
}

.typewriter-container {
  display: inline-block;
}
.fill-container {
  display: inline-block;
}

#spacing-container {
  display: flex;
  border-right: 5px solid var(--main-color);
  padding-right: 5px;
  width: 100%;
  animation: typing 6s infinite, cursor 0.4s step-end infinite alternate;
}

#typewriter {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: inherit;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  30% {
    width: 100%;
  }
  50% {
    width: 100%;
  }
  80% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

.education {
}

@media screen and (max-width: 1200px) {
  .home-container {
    width: 700px;
  }
  .logo {
    font-size: 100px;
  }
  .typewriter-container {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    display: none;
  }

  .logo-container {
    width: 100%;
  }
  .home-container {
    background-color: green;
    width: 100%;
  }
  .logo {
    letter-spacing: -5px;
    font-size: 11vw;
  }
  .typewriter-container {
    display: block;
  }
  .home-content {
    flex-direction: column;
    gap: 3rem;
    align-items: flex-start;
  }
  .home-img img {
    height: 300px;
  }
}

@media screen and (max-width: 570px) {
  .home h1 {
    font-size: 4.5rem;
  }
}
